# AWS Access Key Varible
aws_access_key_id = ""
aws_secret_key = ""

# AWS Region Varible
region = "eu-west-2"

# AWS VPC Variable
environment = ""

# AWS RDS Varible
dbname = ""
dbusername = ""
dbpassword = ""

# AWS ECS Varible
image = ""
